:global(.ant-input).baseInput{
    height: 48px;
    border-radius: 12px;
    padding: 12px;
    background-color: #F5F5F2;
    border: none;
}

:global(.ant-input-password).baseInput{
    height: 48px;
    border-radius: 12px;
    padding: 12px;
    background-color: #F5F5F2;
    border: none;
}

:global(.ant-input-affix-wrapper).baseInput{
    height: 48px;
    border-radius: 8px;
    padding: 18px 14px;
    background-color: #F5F5F2;
    border: none;
}